/*********** Theme Colors ***********/

.wd-active-blue-text {
    color: #29A2ED;
}

.wd-light-gray-text {
    color: #7d828b;
}

.wd-dark-gray-background {
    background-color: #222327;
}

/*********** Page Styling - Might move to public folder ***********/

body {
    background-color: black;
    padding: 0 20px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.wd-container {
    border: solid rgb(31, 33, 34) .1px;
    color: #7d828b;
    width: 100%;
    max-width: 850px;
    background-color: #121213;
}

.wd-container-child {
    border: solid rgb(31, 33, 34) .1px;
    padding: 10px 10px 0px 10px;
    background-color: black;
}

/*********** Specific to Explore page ***********/

/**** Header (Top section with search bar and suggested topics)  ****/

#explore-header {
    margin-bottom: 15px;
}

/* Top line with search bar */

.wd-search-container {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 10px;
}

#search-bar-line {
    margin-bottom: 30px;
}

.wd-search-field {
    display: flex;
    /* background-color: #222327; */
    border-radius: 25px;
    width: 100%;
    border-style: hidden;
    box-sizing: border-box;
    padding: 7px 50px 7px 20px;
    font-size: 12px;
}

.fa-search {
    margin: 4px 17px 0px 0px;
    color: #565a61;
}

#gear-wrapper {
    margin: 0px 10px 0px 20px;
}

input:focus { outline: none; }

.wd-search-input {
    /* background-color: #222327;
    color: #7d828b; */
    border-style: hidden;
    font-size: 18px;
    width: 100%;
}

/* Bottom line with suggested topics */

#suggested-topics-line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wd-nav-link {
    text-decoration: none;
    margin: 0px 3% 10px;
}

a, a:visited {
    color: #7d828b;
}
.wd-default-focus a, a:focus, a:active {
    color: #29A2ED;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 3.5px;
}
a:hover {
    color: #29A2ED;
}

/**** For You Section ****/

#for-you-section {
    padding: 0;
}

.wd-for-you-suggestion {
    display: flex;
    justify-content: space-between;
    border: solid rgb(31, 33, 34) .1px;
    padding: 15px;
}

.wd-author-and-time-posted {
    display: flex;
    align-items: center;
}

#for-you-section p {
    font-size: 13px;
    margin: 0;
    padding: 0;
}

#for-you-section h4 {
    margin: 7px 0px;
    padding: 0;
    color: white;
}

.fa-check {
    margin: 5px;
    color: #29A2ED;
}

.wd-user-pfp-thumbnail {
    width: 18px;
    height: 18px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 5px;
}

.wd-article-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 15%;
}

.wd-for-you-user-header {
    font-size: 15px;
}

/*********** Specific to Bookmarks page ***********/

/**** Header ****/
.wd-posts-page-header {
    padding: 5px;
    padding-left: 15px;
}

.wd-posts-page-header p {
    margin: 5px 0;
    font-size: 15px;
}

.wd-posts-page-header h3 {
    margin: 5px 0;
    color: white;
}

/**** Posts ****/

.wd-twitter-post {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: 100%;
    padding: 15px;
}

.wd-twitter-post-main {
    display: flex;
    /* width: 100%; */
}

.wd-post-user-pfp {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.wd-twitter-post-body {
    /* background-color: purple; */
    margin-left: 10px;
    max-width: 506px;
}

.wd-user-post-information {
    margin-bottom: 7px;
}

.wd-user-post-information h4 {
    margin: 0;
    color: white;
    margin-right: 5px;
}

.wd-user-post-information p {
    margin: 0;
}

.wd-user-post-information {
    display: flex;
}

.wd-post-text-body p {
    color: white;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 20px;
    /* background-color: lightblue; */
}

.wd-post-article-ref {
    /* background-color: lightblue; */
    border: solid rgb(31, 33, 34) .1px;
    border-radius: 4%;
}

.wd-post-article-ref {
    cursor: pointer;
}

.wd-post-article-ref:hover {
    filter: brightness(90%);
}

.wd-post-thumbnail {
    width: 100%;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    border-bottom: solid rgb(31, 33, 34) .1px;
}

.wd-article-summary {
    margin-left: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wd-article-summary h4 {
    margin: 0;
    margin-bottom: 5px;
    color: white;
}

.wd-article-summary p {
    margin: 0;
    margin-bottom: 5px;
    line-height: 20px;
}

.fa-link {
    margin-right: 1.5%;
}

.wd-article-link {
    display: flex;
}

.wd-post-social-stats {
    /* background-color: #565a61; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.wd-post-social-stats a {
    text-decoration: none;
}

.wd-post-social-stat {
    display: flex;
    align-items: center;
    margin-right: 22%;
    padding-top: 5px;
    /* background-color: white; */
}

#heart-icon:hover, #heart-icon:active, 
    #heart-icon:focus, #heart-icon:visited {
    color: red;
}

#upload-icon {
    margin-right: 0;
}

.wd-post-social-stat p {
    margin: 0;
    padding: 10% 20%;
}

.wd-social-stat-icon-wrapper {
    padding: 0 10%;
    padding-bottom: 3.5px;
}
