.blue-text {
    color: #076FFA;
}
.blue-theme-bg-color {
    background-color: #076FFA;
}
.light-gray-text {
    color: #666970;
}

.w-80 {
    width: 80%;
}

.rounded-img {
    border-radius: 15%;
}